<html 
	xmlns:th="http://www.thmyleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template1">


<div layout:fragment="content1">

	<form method="POST" th:action="@{save(page=${page} , keyword=${keyword})}">
	
	    ID: 
		<!-- <input type="number" name="id" th:value="${patient.id}"> -->
		<span th:text="${patient.id}"></span>
		<span style="color:red;" th:errors="${patient.id}"></span>
		
		<br>
	
		Nom: 
		<input type="text" name="nom" th:value="${patient.nom}">
		<span style="color:red;" th:errors="${patient.nom}"></span>
		
		<br>
		
		Date :
		<input type="date" name="dateNaissance" th:value="${patient.dateNaissance}">
		<span style="color:red;" th:errors="${patient.dateNaissance}"></span>
	
	<br>
	
		Malade :
		<input type="checkbox" name="malade" th:checked="${patient.malade}">
		<span style="color:red;" th:errors="${patient.malade}"></span>
	
	<br>
	
		Score :
		<input type="text" name="score" th:value="${patient.score}">
		<span style="color:red;" th:errors="${patient.score}"></span>
	
	<br>
	
		<button type="submit"> Save </button>
		
	</form>
		
</div>
</html>